a {
  text-decoration: underline;
  color: black;
}

a:hover {
    color: #ECD616;
}

.App {
  margin: 30px auto;
  max-width: 960px;
}

.App-header {
  margin-bottom: 30px;
  text-align: center;
}

.Footer {
  margin-top: 30px;
  text-align: center;
}